In [1]:
import pandas as pd
import numpy as np
import os
import pickle

import dgl

Using backend: pytorch

In [2]:
# path
base_path = '../'
publish_path = 'MAXPdata'

nodes_path = os.path.join(base_path, publish_path, 'IDandLabels.csv')

In [3]:
nodes_df = pd.read_csv(nodes_path)
print(nodes_df.shape)
nodes_df.tail(4)

(3655452, 4)

/home/ll/.conda/envs/py37/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

         node_idx                          paper_id Label  Split_ID
3655448   3655448  caed47d55d1e193ecb1fa97a415c13dd   NaN         1
3655449   3655449  c82eb6be79a245392fb626b9a7e1f246   NaN         1
3655450   3655450  926a31f6b378575204aae30b5dfa6dd3   NaN         1
3655451   3655451  bbace2419c3f827158ea4602f3eb35fa   NaN         1

In [4]:
nodes = nodes_df[['node_idx', 'paper_id']]
nodes.head(4)

   node_idx                          paper_id
0         0  bfdee5ab86ef5e68da974d48a138c28e
1         1  78f43b8b62f040347fec0be44e5f08bd
2         2  a971601a0286d2701aa5cde46e63a9fd
3         3  ac4b88a72146bae66cedfd1c13e1552d

In [9]:
nodes.loc[0].paper_id

'bfdee5ab86ef5e68da974d48a138c28e'

In [13]:
print(chr(65))

A

In [14]:
import csv
f = open('文件名.csv','w',encoding='utf-8')
csv_writer = csv.writer(f)
csv_writer.writerow(["id","label"])
csv_writer.writerow([nodes.loc[0].paper_id, chr(65)])
f.close()